body{
    background-color: #F51001;
    margin: 0;
    padding: 0;
    color:#360400;
    font-size:15px;
    font-family: "Noto Sans";
}

/*Header                            */
.title{
    text-align: center;
    margin-top: 20px;
}

.title__text{
    font-size: 30px;
    font-weight: bold;
}

/* Area                              */
.b_area{
    margin-top: 200px;
    text-align: center;
}

.button_class{
    padding: 20px;
    min-width: 200px;
    background-color: #750800;
    color: black;
    border-radius: 20px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    border:2px solid #360400;
}
.button_class:hover{
    background-color: #360400;
    color:#F51001;
    border: 2px solid #750800;

}
.button_s{
    margin-top: 50px;
}
#block_f{
    display: block;
}