<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>
    <header>
        <div class="title">
            <div class="title__text">Chess</div>
        </div>
    </header>
    <div id="block_f" class="b_area">
        <div class="button">
            <div class="button_f">
                <button id="but1" class="button__class" type="button">Play the game</button>
            </div>
        </div>
    </div>
    <div id="choosing_area" class="area_button">
       <form method="POST" action={{ url_for('create_game') }}>
            <div class="area_button__time">
                <div class="time__text">Step Time</div>
                <input  />
            </div>
            <div class="choosing__all">
               <span class="choosing__color__text">Choose your color</span>
                <select>
                    <option>White</option>
                    <option>Black</option>
                </select>
            </div>
            <div class="choosing__all">
                <div class="host__text">Choose host</div>
                <input />
            </div>
            <div class="choosing__all">
                <input type="submit" class="button__class" type="button">Create game</input>
            </div>
        </form>
    </div>
</body>
<script src="{{ url_for('static', filename='js/app.js') }}"> </script>
</html>
